#navbar{
    .MuiToolbar-gutters{
        padding: 0;
    }
    @extend .container;
    padding-top: 0;
    padding-bottom: 0;
    color: $primary-blue;
    .logo{
        height: 20px;
        @include mmd{
            height: 40px;
        }
        margin-left: 16px;
        @include mlg{
            margin: unset;
        }
    }
    .grow{
        display: flex;
        flex-grow: 1;
    }
    .menu-button{
        display: inline;
        @include mlg{
            display: none;
        }
        .MuiSvgIcon-root{
            font-size: 1.8rem;
        }
    }
    .section-desktop{
        display: none;
        @include mlg{
            display: block;
        }
        .nav-menu{
            list-style: none;
            display: flex;
            li{
                display: inline;
                padding-left: 20px;
                cursor: pointer;
                color: $primary-black;
                font-weight: $bold-font;
                button{
                    text-transform: capitalize;
                }
                a{
                    text-decoration: none;
                }
                @at-root #download-button{
                    @include primary-button;
                    background-color: $dark-green;
                    &.pay{
                        background-color: $primary-blue;
                    }
                }
            }
        }
    }
    .mobile-button{
        @include primary-button;
        box-shadow: $light-box-shadow;
        background-color: $dark-green;
        margin-right: 5px;
        @include rwd(250,599){
            display: none;
        }
        display: block;
        text-transform: capitalize;
        @include mlg{
            display: none;
        }
    }
}
.menu-drawer{
    .MuiPaper-root.MuiDrawer-paper{
        width: 250px;
        padding: 32px 24px;
        .nav-menu{
            li{
                display: block; 
                margin: 16px 0;
                color: $primary-black;
                font-weight: $bold-font;
                button{
                    text-transform: capitalize;
                }
            }
        }
    }
}