#navbar{
    @extend .container;
    padding-top: 0;
    padding-bottom: 0;
    color: $primary-blue;
    h2{
        color: $primary-black;
    }
    .grow{
        display: flex;
        flex-grow: 1;
    }
    .menu-button{
        margin-right: 10px;
        display: inline;
        @include xl{
            display: none;
        }
        .MuiSvgIcon-root{
            font-size: 1.8rem;
        }
    }
    .section-desktop{
        display: none;
        @include xl{
            display: block;
        }
        .nav-menu{
            list-style: none;
            display: flex;
            li{
                display: inline;
                padding-left: 20px;
                cursor: pointer;
                color: $primary-blue;
                font-weight: $bold-font;
                button{
                    text-transform: capitalize;
                }
                .download-button{
                    @include primary-button;
                }
            }
        }
    }
    .mobile-button{
        @include primary-button;
        box-shadow: $light-box-shadow;
        text-transform: capitalize;
        display: inline;
        @include xl{
            display: none;
        }
    }
}
.menu-drawer{
    .MuiPaper-root.MuiDrawer-paper{
        width: 250px;
        padding: 32px 24px;
        .nav-menu{
            li{
                display: block; 
                margin: 16px 0;
                color: $primary-blue;
                font-weight: $bold-font;
                button{
                    text-transform: capitalize;

                }
            }
        }
    }
}