*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

hr{
    border: .5px solid white;
    margin: 24px 0;
}
.container{
    padding:60px 16px;
    @include lg{
        padding:60px 80px;
    }
    @include xl{
        padding:60px 120px;

    }
}