.about{
    @extend .container;
    background-color: $dark-black;
    padding-top: 20px;
    color: white;
    .main-title{
        width: 120px;
        padding-top: 20px;
        margin: auto;
        margin-bottom: 20px;
        @include sm{
            width: 150px;
            padding-top: 40px;
        }
        @include md{
            width: 200px;
            padding-top: 60px;
        }
        .title{
            font-size: 20px;
            text-align: center;
            @include sm{
                font-size: $title-font;
            }
            @include md{
                font-size: $large-font;
            }
        }
        .title-underline{
            width: inherit;
        }
    }
    .about-cases-container{
        .about-case{
            &.delhi{
                .about-case-card{
                    background-color: $light-blue;
                }
            }
            &.mumbai{
                .about-case-card{
                    background-color: $primary-blue;                
                }
            }
            .about-case-card{
                @include primary-card;
                border: none;
                line-height: 25px;
                color: white;
                text-align: justify;
                .image-container{
                    padding: 0;
                    position: relative;
                    h3{
                        position: absolute;
                        text-transform: uppercase;
                        top: 30px;
                        left: 30px;
                        font-size: $small-font;
                        @include mmd{
                            font-size: $title-font;
                        }
                        @include mlg{
                            font-size: $large-font;
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        &.desktop{
                            display: none;
                            @include mmd{
                                display: block;
                            }
                        }
                        &.mobile{
                            display: block;
                            @include mmd{
                                display: none;
                            }
                        }
                    }
                }
                p{
                    margin: 0 0 20px 0;
                }
                .about-case-description{
                    padding: 24px;
                @include msm{
                    padding: 20px 32px;
                }
                @include md{
                    padding: 32px;
                }
                @include lg{
                    padding: 32px 48px;
                }
                }
                .shortfalls{
                    margin:32px 0 0 0;
                    h4{
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    p{
                        margin: 0 0 4px 0;
                    }
                    font-weight: 500;
                }
            }
            
        }
    }
    .about-description{
        text-align: center;
        margin: auto;
        font-size: $xsmall-font;
        font-weight: 300;
        margin-bottom: 16px;
        max-width: 830px;
        @include md{
            font-size: $subtitle-font;
        }
    }
    .about-subtitle{
        font-size: 16px;
        margin:20px 0;
        font-weight: $regular-font;
            text-align: center;
            @include sm{
                font-size: $subtitle-font;
            }
            @include md{
                font-size: $title-font;
            }
    }
    .about-grid{
        margin-top: 35px;
        position: relative;
        .about-card{
            @include primary-card;
            box-shadow: $main-box-shadow;
            padding: 10px;
            height: 100%;
            @include md{
                padding: 20px 20px 30px;
            }
            .icon-container{
                position: absolute;
                text-align: center;
                width: calc(100% - 55px);
                top: -30px;
                img{
                    max-width: 80px;
                }
            }
            .card-title{
                font-size: 16px;
                margin:30px 0 20px;
                font-weight: $regular-font;
                    text-align: center;
                    @include sm{
                        font-size: $subtitle-font;
                    }
                    @include md{
                        font-size: $title-font;
                    }
            }
            .card-description{
                text-align: center;
                margin: auto;
                font-size: $small-font;
                font-weight: 300;
                margin-bottom: 16px;
                @include md{
                    font-size: $subtitle-font;
                }
            }
            ol{
                padding: 0 0 0 16px;
                font-weight: $bold-font;
                font-size: $small-font;
                @include md{
                    font-size: $subtitle-font;
                }
            }
            .subtitle-underline{
                @extend .title-underline;
            }
                &:hover{
                    box-shadow: $light-box-shadow;
                }
            .about-description{
                @extend .about-description;
                text-align: unset;
            }
        }
    }
    .MuiGrid-spacing-xs-8{
        width: 100%;
        margin: 0;
        .MuiGrid-item {
            padding: 16px;
        }
    }
}