.banner{
    height: 100%;
    color: white;
    @media (orientation:portrait) and (max-height:830px){
        height: 100%;
    }

    @include xl{
        height: 100vh;
    }
    @include xxl{
        @media(max-height:840px){
        height: 100vh;
        }
    }
    .banner-message{
        width: 100%;
        @include mmd{
            width: 50%;

        }
        height: inherit;
        position: absolute;
        left: 0;
        z-index: 2;
        .image-title{
            top: 70px;
            max-width: 200px;
            left: 50px;
            position: absolute;
            height: auto;
            @include mmd{
                top: 15%;
                left: 10%;
                width: 100%;
                z-index: 2;
                max-width: 450px;
            }
        }
        .banner-description{
            position: absolute;
            top: 130px;
            left: 10%;
            max-width: 500px;
            height: auto;
            font-size: 10px;
            @include mmd{
                top: 35%;
                font-size: $subtitle-font;
            }
        }
        img{
            height: inherit;
            margin: 0;
            position: absolute;
            left: 0;
        }
    }
    .banner-info{
        position: relative;
        color:$primary-black;
        padding: 20px;
        @include mmd{
            position: absolute;
            top: 450px;
            right: 0;
            background: white;
            color:$primary-black;
            padding: 30px 20px;
            z-index: 2;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        h4{
            font-size: $subtitle-font;
            color: $primary-blue;
            @include mmd{
                font-size: $title-font;
            }
        }
        ul{
            padding-left: 20px;
            margin-top: 10px;
            max-width: 400px;
            margin: auto;
            @include mmd{
                margin: 10px 0 0 0;
                max-width: unset;
            }
        }
    }
    .slick-slider.slick-initialized{
        height: inherit;
        .slick-list{
            height: inherit;
            .slick-track{
                height: inherit;
                .slick-slide{
                    height: 100%;
                    div{
                        height: inherit;
                        img{
                            margin-top: 30px;
                            @include mmd{
                                margin-top: 0;
                            }
                            width: 100%;
                            height: inherit;
                        }
                    }
                }
            }
        }
    }
    .main-title{
        width: 200px;
        padding-top: 20px;
        margin: auto;
        @include sm{
            margin: unset;
            width: 250px;
            padding-top: 40px;
        }
        @include md{
            width: 300px;
            padding-top: 60px;
        }
        .title{
            font-size: 18px;
            margin-left: 20px;
            @include sm{
                font-size: $title-font;

            }
            @include md{
                font-size: $large-font;
            }
        }
        .title-underline{
            width: inherit;
        }
    }
    .description{
        font-size: $xsmall-font;
        max-width: 300px;
        font-weight: $bold-font;
        margin: auto;
        @include sm{
            margin: unset;
        }
        @include md{
            font-size: $subtitle-font;
            max-width: 450px;
        }
    }
    .banner-button{
        @include primary-button;
        margin-top: 24px;
        box-shadow: $yellow-box-shadow;
    }
}