.benefits{
    @extend .container;
    // background-color: $primary-blue;
    background-image: url(https://i.imgur.com/Ac9iszO.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    .main-title{
        text-align: center;
        width: 150px;
        padding-top: 20px;
        margin: auto;
        margin-bottom: 16px;
        @include sm{
            width: 250px;
            padding-top: 40px;
        }
        @include md{
            width: 300px;
            padding-top: 60px;
        }
        .title{
            font-size: 18px;
            @include sm{
                font-size: $title-font;

            }
            @include md{
                font-size: $large-font;
            }
        }
        .title-underline{
            width: inherit;
        }
    }
    .benefit{
        .benefit-card{
            height: 100%;
            @include secondary-card;
            padding: 10px;
            @include md{
                padding: 20px;
            }
            min-height: 200px;
            box-shadow: $blue-box-shadow;
            &:hover{
                box-shadow: $yellow-box-shadow;
            }
        }
    }
}