.eltrik{
    @extend .container;
    padding-top: 30px;
    .main-title{
        width: 150px;
        &.lion{
            width: 200px;
        }
        padding-top: 20px;
        margin: auto;
        margin-bottom: 16px;
        @include sm{
            margin: unset;
            width: 200px;
            padding-top: 40px;
            &.lion{
                width: 300px;
            }
        }
        @include md{
            width: 250px;
            &.lion{
                width: 350px;
            }
            padding-top: 60px;
        }
        .title{
            font-size: 18px;
            margin-left: 28px;
            @include sm{
                font-size: $title-font;
            }
            @include md{
                font-size: $large-font;
            }
        }
        .title-underline{
            width: inherit;
        }
    }
    .image-container{
        .avenue-image{
            width: 100%;
        }
    }
    .avenue-description{
        font-size: $xsmall-font;
        text-align: justify;
        @include md{
            font-size: $subtitle-font;
        }
        .subtitle{
            color: $primary-blue;
            margin: 16px 0;
        }
        .requirements-link{
            display: inline;
            color: $primary-yellow;
            font-weight: $bold-font;
        }
    }
    .download-button{
        @include dark-button;
    }
}

.eltrik-lion{
    @include  mmd{
        flex-direction: row-reverse;
    }
    .lion-description{
        @extend .avenue-description;
        ul{
            padding: 10px 0 0 20px;
            li{
                padding: 5px 0;
            }
        }
    }
}